li {
	list-style-type: none;
}

#greeting {
	position: relative;
}

#greeting .userid {
	color: gray;
}

#greeting .logout {
	position: absolute;
	right: 1em;
}

table.selector {
	width: 100%;
	background-color: #fffefe;
	border-collapse: collapse;
}
table.selector tr {
	border-bottom: 1px solid #ccc;
}
table.selector td, table.selector th {
	text-align: left;
	padding: .25em;
}
table.selector .submit {
	margin-top: 1em;
}
