<div id="mesh" class="box">
<h3><%= subject.title %></h3>
<div class="slide"></div>
<div class="sidebar">
	<div class="video"></div>
	<div class="info"></div>
</div>
<p class="slide_name">音響工学 day2.ppt</p>
</div>