<div id="mesh" class="box">
<h3>自学自習モード</h3>
<div class="slide"></div>
<div class="sidebar">
	<div class="video"></div>
	<div class="info">
		<p><button id="mesh_playback_load">ロード</button></p>
		<p><button id="mesh_playback_play">再生</button></p>
	</div>
</div>
<p class="slide_name" align="right"><a href="/home">Homeへ戻る</a></p>
</div>